.main-container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
  }

  .loading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loading .loader {
    margin: 10px;
  }
  
  .product-data {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .product-data img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-data h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-data p {
    margin-bottom: 10px;
  }
  
  .product-data .categories ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-data .categories ul li {
    padding: 10px;
    width: fit-content;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    margin: 10px;
  }

  .product-data .categories ul li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .product-data .categories ul li a {
    height: fit-content;
    text-decoration: none;
    color: blue;
    align-items: center;
    justify-content: center;
  }